<div class="screen">
  <%= render "shared/navbar"%>

  <div class="container middle-content">
    <br/>
    <%= render 'shared/new_post_form'%>
    <hr/>

    <div class="row">
      <% @all_posts.each do |post| %>
        <% poster = User.find_by_id(post[:user_id])%>
        <div class="col-sm-8 offset-sm-2 post">
          <div class="postHead">
            <%= image_tag poster[:user_image], class: "post-thumbnail"%>
            <div>
              <h6 >
                <%#"#{poster[:first_name]} #{poster[:last_name]}"%>
                <%= link_to "#{poster[:first_name]} #{poster[:last_name]}", user_path(poster), class: "user-link"%>
                <br/>
                <span class="timestamp">
                  <%= distance_of_time_in_words(post[:created_at], DateTime.now) + " ago" %>
                </span>
              </h6>
            </div>
          </div>
          <p class="postBody">
            <%= post[:body] %>
            <br/>
          </p>
        </div>
      <% end %>
    </div>

  </div>

</div>
