<div class="screen">
  <%= render 'shared/navbar' %>
  <div class="container middle-content">
    <div class="row">
      <%= form_with scope: :passwords, url: users_password_path, method: :patch, class: "col-sm-8 offset-sm-2" do |password_form| %>
        <br/>

        <div class="form-group">
          <%= password_form.label :password %>
          <%= password_form.password_field :password, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= password_form.label :new_password %>
          <%= password_form.password_field :new_password, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= password_form.label :confirm_password %>
          <%= password_form.password_field :confirm_password, class: "form-control" %>
        </div>

        <%= password_form.submit "Change Password", class: "btn btn-primary" %>
      <% end %>
  </div>
  </div>
</div>
