<div class="screen">
  <%= render 'shared/navbar' %>
  <div class="container middle-content">

    <div class="row">
      <%= render 'profile' %>
    </div>
    <div class="row profileAction">
      <% if @user.id != @relevant_user.id then %>

        <% if @are_friends%>
          <%= button_to "Stop Being Friends", delete_friend_path(@relevant_user), method: :delete, class: "btn btn-primary" %>
        <% elsif @requests_pending %>
          <button class= "btn btn-primary disabled">Friend Request Pending</button>
        <% else %>
          <%= button_to "Send Friend Request", friend_request_path, method: :post, class: "btn btn-primary" %>
        <% end %>

        <%= link_to "Message #{@relevant_user[:first_name]}", conversation_path(@relevant_user), class: "btn btn-primary" %>

      <% end %>
    </div>


    <% if @user.id == @relevant_user.id %>
      <br/>
      <%= render 'shared/new_post_form'%>
    <% end %>
    <hr/>
    <br/>


    <div class="row">
      <% @relevant_user.posts.reverse.each do |post| %>
        <div class="col-sm-8 offset-sm-2 post">
          <h6 class="postHead"><%= "#{@relevant_user[:first_name]} #{@relevant_user[:last_name]}"%></h6>
          <p class="postBody">
            <%= post[:body] %>
            <br/>
            <span class="timestamp">
              <%= distance_of_time_in_words(post[:created_at], DateTime.now) + " ago" %>
            </span>
          </p>
      </div>
      <% end %>
    </div>
    <br/>
    <hr/>

    <!-- <a href="/poop" class="card" style="width: 20rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </a> -->

    <div class="row">
      <% @friends.each do |friend| %>
        <%= link_to user_path(friend), class: "card col-sm-3" do %>
          <%= image_tag friend[:user_image], class: "Card image cap profilePic" %>
          <div class="card-body">
            <p class="card-text">
              <%= "#{friend[:first_name]} #{friend[:last_name]}" %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>


  </div>
</div>
