
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <%= link_to "Friend Face", root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <%= link_to @user.first_name, user_path(@user), class: "nav-link active"%>
        </li>

        <li class="nav-item">
          <%= link_to root_path, class: "nav-link active" do %>
            <i class="material-icons">home</i>
          <% end %>
        </li>


        <% friend_requests = @user.requests_received.reject {|request| request[:request_type] != "friend"} %>
        <li class="nav-item dropdown">
          <a class="nav-link active" data-toggle="dropdown" href="#" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
            <span>
              <i class="material-icons">supervisor_account</i>
              <% if friend_requests.length > 0 %>
                <span class="notice-count"><%= @user.requests_received.length %></span>
              <% end %>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <% if friend_requests.length == 0 %>
              <p class="dropdown-item">You do not have any friend requests.</p>
            <% else %>
              <% friend_requests.each do |request| %>
                  <% requester = User.find(request[:sender_id]) %>
                  <p class="dropdown-item">
                    <%= link_to "#{requester[:first_name]} #{requester[:last_name]}", user_path(requester) %> wants to be your friend.
                    <%= button_to "Confirm", new_friend_path(requester), method: :post, class: "btn btn-primary c-d" %>
                    <%= button_to "Deny", deny_friend_request_path(requester), method: :delete, class: "btn btn-primary c-d" %>
                </p>
              <% end %>
            <% end %>

          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>
              <i class="material-icons">message</i>
              <span class="notice-count">3</span>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <p class="dropdown-item">Messages</p>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

            <%= link_to "Edit Profile", edit_user_path(@user), class: "dropdown-item"%>

            <%= link_to "Change Password", "/users/password", class: "dropdown-item" %>

            <%= link_to "Log Out", '/users/logout', class: "dropdown-item" %>

          </div>
        </li>

      </ul>

  </div>

</nav>
